{
  "extends": ["plugin:flowtype/recommended", "airbnb-base"],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": false
    }
  },
  "env": {
    "mocha": true
  },
  "rules": {
    "class-methods-use-this": "off",
    "no-console": "off",
    "no-confusing-arrow": "off",
    "comma-dangle": "off",
    "global-require": "off",
    "no-multi-assign": "off",
    "import/no-dynamic-require": "off",
    "no-return-assign": "off",
    "no-unused-expressions": "off"
  }
}
