{
  "extends": "airbnb-base",
  "env": {
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "no-confusing-arrow": "off",
    "no-console": "off",
    "no-multi-assign": "off",
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off"
  }
}
